.projects {
    position: relative;
}

.progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 70px;
    text-align: center;
    color: orange;
}

.progress h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.progress-bar {
    height: 10px;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1366px;
    width: 75%;
    height: 100%;
    margin: auto;
    gap: 30px;
}

.project-img img {
    flex: 1;
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
}

.project-info {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.project-info h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: antiquewhite;
    margin-bottom: 10px;
}

.project-info h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: antiquewhite;
    margin-bottom: 10px;
}

.project-info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 0 0 10px 0;
}

.project-info ul li {
    font-size: 1rem;
    font-weight: 400;
    color: antiquewhite;
    background-color: rgb(101, 94, 117);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-info p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: antiquewhite;
    background-color: #0000003d;
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
}
.project-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.project-links .demo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: orange;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.project-links .demo:hover {
    background-color: rgb(241, 172, 42);
    transform: scale(1.1);
    color: #181616;
}

.project-links .code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: orange;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.project-links .code:hover {
    background-color: rgb(241, 172, 42);
    transform: scale(1.1);
    color: #111010;
}